https://cityservice.pp.ua
 {

    proxy / node-app:9999 {
      websocket
    	transparent
    }

    timeouts 5m
    gzip
    browse
    #log /var/log/caddy/access.log
    #errors /var/log/caddy/error.log

    #tls self_signed
    tls appcleaveradmintest@gmail.com
}